# dependencias
node_modules/

# variables de entorno / claves
.env
.env.*             # .env.local, .env.production, etc.

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# sistema / OS
.DS_Store
Thumbs.db

# configuración de editores
.vscode/
.idea/

